body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

.top-line-nav {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.top-line-nav:hover {
    color: #404BBF;
}

.top-line-nav:focus {
    color: #404BBF;
}

.contacts-main {
    font-style: normal;
}

.contacts {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts:hover {
    color: #404BBF;
}

.contacts:focus {
    color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4D5AE5;
}

.span-logo {
    color: #2E2F42;
}

.main-section {
    background-color: #2E2F42;
}

.main-section-name {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.main-section-but {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.main-section-but:hover {
    background-color: #404BBF;
}

.main-section-but:focus {
    background-color: #404BBF;
}

.main-section-but{
    cursor: pointer;
}

.capabilities-title {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42; 
}

.capabilities-title-name {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #2E2F42;
}
    


.capabilities-title-par {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}





.section-team {
    background-color: #F4F4FD
}

.section-team-title {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.section-team-list {
    background-color: #FFFFFF;
}

.section-team-name {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}

.section-team-par {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}


.portfolio-title-list {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}

.portfolio-par{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.footer-main {
    background-color: #2E2F42;
}

.span-logo-last {
    color: #F4F4FD;
}

.footer-text {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

